@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  --black: #212529;
  --medium-gray: #adb5bd;
  --light-gray: #dee2e6;
  --lighter-gray: #e9ecef;
  --white: #f8f9fa;
}

body {
  background-color: var(--medium-gray);
  font-family: Lato, sans-serif;
  justify-content: center;
  margin: 0;
  padding: 60px 0;
  display: flex;
  min-height: 100vh;
}

main {
  background-color: var(--white);
  max-width: 860px;
  padding: 20px;
  width: 100%;
}

h1 {
  margin: 0;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.start-button {
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--black);
  cursor: pointer;
  letter-spacing: 2px;
  min-width: 120px;
  padding: 12px 24px;
  text-transform: uppercase;
  transition: letter-spacing 300ms;
}

.start-button:hover {
  letter-spacing: 3px;
}

.start-button:disabled {
  pointer-events: none;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
}

.legend {
  color: var(--medium-gray);
  margin: 0;
}

.pieces-container {
  align-items: center;
  display: flex;
  gap: 12px;
}

.piece {
  display: grid;
}

.tetris-container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.tetris > * {
  display: grid;
}

.tetris .background {
  position: absolute;
  z-index: 0;
}

.tetris #matrix {
  position: absolute;
  z-index: 1;
}

.tetris #active {
  position: relative;
  z-index: 2;
}

.tetris .background .box {
  border: 1px solid var(--lighter-gray);
}